.hooks2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.hooks2 input{
    margin-bottom: 15px;
    width: 30%;
    padding: 7px;
    font-size: 16px;
    border: 2px solid rgba(128, 128, 128, 0.918);
    border-radius: 5px;
    
}
.confirm-button2{
    border: none;
    font-size: 16px;
    padding: 5px 20px;
    background-color: black;
    color: rgba(245, 245, 245, 0.979);
    border-radius: 8px;
    width: 25%;
}
.rev{
    height: 100px;
}
@media only screen and (max-width:668px) {
    .hooks2 input{
        
        width: 100%;  
    }
    .confirm-button2{
        
        width: 50%;
    }
}